body {
  color: #333;
}
* {
  box-sizing: border-box;
}
main {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
}
header nav {
  display: flex;
  gap: 15px;
}
img {
  max-width: 100%;
}
.post {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 20px;
  margin-bottom: 20px;
}
.post .texts h2 {
  margin: 0;
  font-size: 1.6rem;
}
.post .info {
  display: flex;
  gap: 15px;
  margin: 3px;
  font-size: 0.9rem;
  color: #888;
  font-weight: bold;
}
.post .info a {
  color: rgb(75, 68, 68);
}
.post .summary {
  margin: 10px;
  line-height: 1.4rem;
}
.post a {
  text-decoration: none;
  color: inherit;
}

/* form data */
form.login,
form.register {
  max-width: 500px;
  margin: 0 auto;
}
input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #b4aaaa;
}
button {
  width: 100%;
  margin: 10px 5px;
  padding: 7px;
  background-color: #333;
  color: #e9e6e6;
  border-radius: 5px;
}
form.login h2,
form.register h2 {
  text-align: center;
}

.post-page .img {
  max-height: 200px;
  overflow: hidden;
  display: flex;
}
.post-page .img img {
  object-fit: cover;
  object-position: center center;
}
